node_modules
.DS_Store
**/npm-debug.*
.env
.tmp
*.log
**/npm-debug*
secrets
packages/
**/lib/
**/dist/
**/public/
tmp/
websites/cdn.skypager.io/public/*
websites/cdn.skypager.io/static/*
export/
build-status.json
each-changed-package.sh
build-changed-packages.sh
publish-changed-packages.sh
release.sh
**/vendor/**
src/apps/desktop/src/vendor
src/apps/desktop/app
src/apps/desktop/src/vendor/**
src/apps/desktop/app/**
