{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": ["6.11.1"],
          "browsers": [">20%"]
        }
      }
    ],
    "stage-0",
    "react"
  ],
  "plugins": ["transform-decorators-legacy"]
}
